body {
    margin: 0;
}

.topnav {
    margin: 0;
    background-color: white;
    overflow: hidden;
    display: flex;
}



.logo a {
    font-size: 20px;
    font-family: Arial;
    padding: 10px;
}

.navbar {
    font-size: 20px;
    margin-left: auto;
}

.navbar a {
    padding: 10px;
    font-family: Arial;
}




.card-holder {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
    margin-top: 40px;
}

.card {
    width: 50%;
    /* height: 530px; */
    
    
    
  }

.card1 {
    margin-right: 100px;
}

.wording {
    margin-top: 20px;
    padding: 12px;
  }

  .btn-primary1{
    background-color: rgb(74, 60, 156) !important;
    border: 1px solid rgb(74, 60, 156) !important ;
  }

  .others{
    float: right !important;
    margin-right: 5px;
    color: black;
    text-decoration: none;
  }

  .logo{
    padding: 20px;
  }
  .container{
      padding: 20px;
  }

  .main-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;    
    background-color:  rgb(74, 60, 156) !important ;
    height: 600px;
  }
  

  .card-txt{
    width: 50%;
    margin-left: 5%;
  }

  .card-vid{
    width: 50%;    
    margin-right: 5%;
  }  
  .text-head{
    color: orange !important;
    margin-bottom: 20px;
  }

  .text-body1{
    color: white;
    margin-bottom: 20px;
  }

  .text-btn{
    background-color: orange !important;
  }

  /* .vid{
    width: 100%;
    height: auto;
  } */