
.Product{
    margin-top: 4000px !important;
}
.productpage{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.productcard{
    background-color: rgb(74, 60, 156);
    width: 700px ;
    height: 800px;
    margin: 40px;
    display: flex;
    padding: 50px;
    border-radius: 20px;
}