@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
.homepage {
  height: 100vh;
}
.homepage_banner {
  background-image: url("https://res.cloudinary.com/dtddnqkn6/image/upload/v1655798677/Farm/erol-ahmed-leOh1CzRZVQ-unsplash_xmyo0r.jpg");
  height: 100%;
  width: 100%;
  background-position: fill;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text {
  font-family: "Secular One", sans-serif;
}
.banner-text {
  color: white;
  width: 40%;
}
.banner-text button {
  background-color: #914e18;
  border: white;
}
.banner-text button:hover {
  background-color: white;
  color: #914e18;
}
.banner-video {
}
.homepage_body{
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 100px;
    text-align: center;
}