.page_content_holder {
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
}
.product_head {
  font-family: "Engagement", cursive !important;
  color: #fda50f;
  font-size: 98px;
  text-align: center;
}
.boy {
  color: black !important;
  margin-top: 100px;
}

.car1 {
  margin-right: 10px !important;
}

.slider-img {
  width: 300px !important;
  height: 200px;
  border-radius: 5px;
}

.img_position {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
}

.slider-info {
  margin-top: 50px;
  text-align: center;
}

.slider2 {
  display: none;
}

.slider_head{
  margin-top: 100px;
}

.slider_head_center{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

@media screen and (max-width: 425px) {
  .slider2 {
    display: contents;
  }

  .slider1 {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .slider2 {
    display: contents;
  }
}

@media screen and (max-width: 320px) {
  .slider2 {
    display: contents;
  }
}

.large-img {
  border-radius: 5px;
}


.img-sze{
  height: 400px;
  margin-top: 70px;
}

.gallery{
  margin-top: 100px;
  text-align: center;
}