.contactus-img {
  width: 50%;
 
}

.img-sz{
  width: 700px;
}
.contactus-card {
  width: 50%;
  margin-left: 10%;
  background-color: #6d4c42;
  padding: 30px;
  border-radius: 10px;
  color: white;
}
.contactus {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 15%;
  margin-right: 15%;
}
.contact_info {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.contact_info_icon {
  margin-right: 20px;
  color: #fda50f;
  font-size: 20px;
}
.contact_info_text {
  font-size: 17px;
  color: rgb(177, 176, 176);
}
.card-links {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}
.card-links img {
  margin-right: 15px;
  height: 40px;
  width: 40px;
}
.card-header {
  margin-bottom: 80px;
}
.card-header h3 {
  margin-bottom: 20px;
}
.card-header p {
  color: rgb(211, 211, 211);
}
